<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>伴航</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!--<icon src="res\android\icon\origin.png" />-->
    <platform name="android">
        <icon density="ldpi" src="res\android\icon\icon36.png" />
        <icon density="mdpi" src="res\android\icon\icon48.png" />
        <icon density="hdpi" src="res\android\icon\icon72.png" />
        <icon density="xhdpi" src="res\android\icon\icon96.png" />
        <icon density="xxhdpi" src="res\android\icon\icon144.png" />
        <icon density="xxxhdpi" src="res\android\icon\icon192.png" />
        <allow-intent href="market:*" />
    </platform>
</widget>
